@import "../../../../../../app/globals.scss";

.addContainer {
  display: flex;
  flex-direction: column;
  @include hover();
  border-radius: $radius-md;
  min-width: 20rem;
  max-width: 100%;
  align-self: flex-end;
  span {
    color: $dark-gray;
    font-weight: $font-bold;
    &:hover {
      color: black;
    }
  }
  input {
    border: none;
    padding: $padding-md $padding-lg;
    border-radius: $radius-md;
    margin-bottom: $margin-md;
    &:focus {
      outline: none !important;
      border: 2px solid $ternary;
    }
  }
}

.addBtn {
  @include hover();
  padding: $padding-md;
  border-radius: $radius-md;
  &:hover {
    background-color: darken($light-gray, 10%);
  }
}

.symbol {
  font-size: $font-sm;
  color: #44546f;
  margin-right: $margin-md;
}

.primary {
  @include hover();
  padding: $padding-md $padding-lg;
  margin-top: $margin-sm;
  border-radius: $radius-sm;
  color: white;
  background-color: $ternary;
}

.exit {
  @include hover();
  color: $dark-gray;
  margin-left: $margin-md;
  font-weight: $font-bold;
  &:hover {
    color: black;
  }
}
